
<div class="row">
        <a name="Mathematics" class="text-center"> <h2>{{ .Params.title }}</h2></a>
  <br/>

  <div class="col-md-3"></div>

  <div class="col-md-3">
    <img alt="" class="img-responsive img-circle" src= {{ .Params.instructor1.image }} />
    <div class="text-center"> <h4>{{ .Params.instructor1.name}}</h4> </div>
  </div>

  <div class="col-md-3">
     <img alt="" class="img-responsive img-circle" src= {{ .Params.instructor2.image }} />
     <div class="text-center"> <h4>{{ .Params.instructor2.name }} </h4> </div>
  </div>

  <div class="col-md-3"></div>
</div>

<div class="row">
  <br/>
  <div class="text-justify ">{{ .Content }}</div>
  <br/>
</div>

<div class="bar"></div>

