<div class="row menufont" style="margin-top: 5px;">
   <ul id="footer" class="menufont" style="list-style: none; padding: 0; margin: 0; display: flex; justify-content: space-between; font-family:'Fjalla One'">
           <li> <a href="about.html">Email Absence</a> </li>
           <li> <a href="/faculty">Faculty</a> </li>
           <li> <a href="/board">Board Of Directors</a> </li>
           <li> <a href="/employment">Employment</a> </li>
           <li> <a href="/support">Support TCMS</a> </li>
    </ul>
</div>
<p class="text-center" style="font-size: 0.7em">
Back to Basics Charter School Foundation, Inc.,  &nbsp Alba Mas, President  <br/>
11734 Jefferson Rd Thonotosassa, FL 33592  &nbsp 813.987.6555 fx 813.324.8974  <br/>
SDHC School #6606  <a href="/required">Statutorily Required Information </a> <br/>
</p>
<div class="row"> <br/> </div>

</div><!-- /.container -->

<!--script href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"> </script-->
<!--script href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"> </script-->
   <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
   <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
   <script src="/js/bootstrap.min.js"></script>



    <!-- Script to Activate the Carousel -->
    <script>
      $(document).ready(function() {
      $('.myCarousel').carousel({
          interval: 10000 //changes the speed
      })
      });
    </script>
</body>
</html>

