    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="8000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
    <li data-target="#bs-carousel" data-slide-to="3"></li>
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
    </div>
    <div class="item slides">
	<div class="row about slide-4" >

	    <div class="col-md-3 ">
		    <div class="awardimg">
                    <img class="img-responsive" src="images/blueribbon.png" alt="">
	    </div>
                    <div class="caption text-center">
			    <h4>National Blue Ribbon School of Excellence Award Winner <br>2007 </h4>
                    </div>
    </div>

    <div class="col-md-3">
	    <div class="awardimg">
                    <img class="img-responsive" src="images/blueribbon.png" alt="">
	    </div>
                    <div class="caption text-center">
			    <h4>National Blue Ribbon School of Excellence Award Winner <br>2014 </h4>
                    </div>
    </div>

    <div class="col-md-3 ">
	    <div class="awardimg">
                    <img class="img-responsive" src="images/1st.png" alt="">
	    </div>
                    <div class="caption text-center">
			    <h4>Ranked #1 SDHC Public School </h4>
                    </div>
    </div>


    <div class="col-md-3" >
	    <div class="awardimg">
                    <img class="img-responsive" src="images/number-4.png" alt="">
	    </div>
                    <div class="caption text-center">
			    <h4>Ranked #4 Florida Public School </h4>
                    </div>
            </div>
    </div>
	    </div>
</div>
